/*~~~~~~~~~~~~~~~~~~~~~~GLOBAL~~~~~~~~~~~~~~~~~~~~~~~*/
body {
  background: #ffffff;
}

nav {
  background: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav > a {
  padding: 8px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

p {
  font-size: 15px;
  font-weight: bold;
}
/*~~~~~~~~~~~~~~~~~~~~~~LANDING~~~~~~~~~~~~~~~~~~~~~~~*/
.landing {
  position: relative;
  width: 100%;
}

.landing:hover .overlay {
  opacity: .9;
}

.landing-img {
  width: 100%;
  height: 450px;
  top: 0px;
  position: relative; 
  padding-right: 100px;
  padding-left: 100px; 
  padding-top: 20px;
  position: relative;
  display: block;
}

.overlay {
  display: block;
  position: absolute;
  padding-top: 40px;  
  height: 430px;
  width: 50%;
  opacity: 0;
  top: 20px;
  left: 25%;
  transition: .9s ease;
  background-color: #06777c;
}

.text {
  color: white;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.site-header {
  text-align: center;
  font-size: 45px;
  position: relative;
  padding-top: 10px;
}

.site-footer {
  color: #06777c;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: bold;
}


.foot-message {
  text-align: center;
  color: #06777c;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  position: relative;
  padding: 20px;
  font-weight: bold;
}
/*~~~~~~~~~~~~~~~~~~~~~~LIBRARY~~~~~~~~~~~~~~~~~~~~~~~*/
.library {
  position: relative;
  width: 100%;
}

.library:hover .libraryOverlay {
  opacity: .9;
}

.libraryImg {
  display: block;
  margin: auto;
  width: 100%;
  height: 450px;
  top: 0px;
  position: relative; 
  padding-right: 50px;
  padding-left: 50px; 
  padding-top: 20px;
}

.libraryOverlay {
  display: block;
  position: absolute;
  padding-top: 40px;  
  height: 430px;
  width: 50%;
  opacity: 0;
  top: 20px;
  left: 25%;
  transition: .9s ease;
  background-color: #06777c;
}

.libraryText {
  color: white;
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~ALBUM~~~~~~~~~~~~~~~~~~~~~~~*/

#album-cover-art {
  height: 350px;
  padding-left: 120px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-top: 50px;
  align-items: center;
}

.album-details {
  text-align: center;
  font-weight: 500;
  color: black;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  left: 50px;
  position: relative;
  line-height: 20%;
  padding-top: -400px;
}

/*~~~~~~~~~~~~~~~~~~~~~~ ALBUM TRACK INFO~~~~~~~~~~~~~~~~~~~~~~~*/

.song-list-container {
  text-align: center;
  padding-top: 60px;
  padding-left: 70px;
  padding-right: 50px;
  position: sticky;
  left: 100px;
  line-height: 280%;  
}

.song {
  color: #06777c;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #06777c;
}

.song:hover {
  background: #06777c;
  color: white;
  opacity: .7;
  transition: .9s ease;
}

/*~~~~~~~~~~~~~~~~~~~~~~ALBUM PLAYER BAR~~~~~~~~~~~~~~~~~~~~~~~*/

.player-bar {
  text-align: center;
  padding-top: 160px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

/*~~~~~~~~~~~~~~~~~~~~~~PLAYER BAR BUTTONS~~~~~~~~~~~~~~~~~~~~~~~*/

#buttons > button {
  background: white;
  text-align: center;
  top: -30px;
}

#buttons > button:hover {
  background: #06777c;
  opacity: .7;
  transition: .9s ease;
}

#previous, #play-pause, #next {
  width: 32%;
  position: relative;
}

/*~~~~~~~~~~~~~~~~~~~~~~PLAYER BAR TIME/VOLUME~~~~~~~~~~~~~~~~~~~~~~~*/

.current-time, .total-time, #volume-control > .seek-bar {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
}

#time-control > .seek-bar {
  width: 40%;
}




